" 光标距离窗口顶部或底部一定行数的时候，开始滚动屏幕内容的行为"
set scrolloff=5

" 设置递归搜索 "
set incsearch

" 设置返回normal模式的时候切换输入法至英文 "
set keep-english-in-normal

" 设置映射键位 "
" Don't use Ex mode, use Q for formatting.
map Q gq
" normal模式下 "
" 映射Enter键为向下换行(CR为回车)"
nmap <CR> o<Esc>
" 映射shift+Enter键为向上换行"
nmap <S-Enter> O<Esc>
" 跳转到下个错误和警告页 "
nmap ge <action>(GotoNextError)
" 跳转到当前接口的实现类 "
nmap ga <action>(GotoImplementation)
"切换标签页"
nmap L <action>(NextTab)
nmap H <action>(PreviousTab)
" 回到上一次光标所在位置"
nmap go <C-o>
" 回到下一个光标所在位置 "
nmap gi <C-i>

" 切换光标 "
" 光标切换到下边的屏幕 "
nmap svj <C-w><C-j>

" 光标切换到上边的屏幕 "
nmap svk <C-w><C-k>

" 光标切换到左边的屏幕 "
nmap svh <C-w><C-h>

" 光标切换到上边的屏幕 "
nmap svl <C-w><C-l>

"分屏"
"水平分屏"
nmap sv :vsp<CR>
"垂直分屏"
nmap sh :sp<CR>
" 关闭文件 "
nmap gwq :wq<CR>

" 普通和插入模式下"
" 和下一行交换"
nnoremap <C-j> :m+1<CR>
" 和上一行交换 "
nnoremap <C-k> :m-2<CR>
" 文件内搜索 "
nnoremap gf <C-f>
" 和下一行交换"
inoremap <C-j> <Esc> :m+1<CR>gi
" 和上一行交换 "
inoremap <C-k> <Esc> :m-2<CR>gi



"insert模式"
imap jj <Esc>
imap jk <Esc>


" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins
" 配置插件 "
" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
" easy-motion"
Plug 'easymotion/vim-easymotion'

